<body xmlns:th="http://www.thymeleaf.org" th:fragment="music-body" onload="musics()">

<form method="POST" th:action="@{/rest/musics/upload}" enctype="multipart/form-data">
    File to upload: <input type="file" name="file">

    <input type="submit" value="Upload"> Press here to upload the file!
</form>

<button id="play-music" type="button" class="btn btn-info" value="play">
    Play
</button>


<table id="music-table">

    <tr>
        <th>
            Name
        </th>
    </tr>

</table>

</body>